{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "indent": [2, 2, {
      "SwitchCase": 1
    }]
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "require": true,
    "exports": true,
    "process": true,
    "console": true,
    "global": true,
    "module": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
