.editor {
  padding: 25px;
  color: #CCC;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  border-radius: 5px;
  align-items: center;
  border: 1px solid #CCC;
  justify-content: center;

  &:hover {
    color: #AAA;
    border-color: #AAA;
  }

  &__popin {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 9999;
    position: absolute;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: .65;
      background: #000;
      position: absolute;
    }

    figure {
      margin: 0;
      padding: 0;
    }

    &__content {
      z-index: 2;
      width: 70vw;
      height: 70vh;
      display: grid;
      position: relative;
      background: #FFF;
      border-radius: 5px;
      border: 1px solid #CCC;
      grid-template-rows: 70px auto 70px;
      box-shadow: 0px 0px 11px 2px rgba(0,0,0, 0.4);

      &__header {
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #CCC;
      }

      &__section {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        align-content: flex-start;
      }

      &__footer {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px solid #CCC;

        button {
          margin-left: 10px;
        }
      }
    }

    &__item {
      cursor: pointer;
      overflow: hidden;
      max-height: 178px;
      position: relative;
      margin: 10px 0 0 1%;
      border: 1px solid #CCC;
      width: calc(100% * (1/4) - 10px - 1px);

      &--selected {
        border-color: #AAA;

        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          position: absolute;
          box-shadow: 0px 0px 0px 2px #AAA inset;
        }

        figcaption {
          background: #AAA;
          color: #FFF !important;
        }
      }

      &:hover {
        border-color: #AAA;

        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          position: absolute;
          box-shadow: 0px 0px 0px 2px #AAA inset;
        }
      }

      figcaption {
        padding: 5px;
        color: #333;
        margin-top: -3px;
        font-weight: bold;
      }
    }

    &__search {
      display: flex;
      border: 1px solid #BBB;
      padding: 5px 10px 5px 10px;

      input {
        border: none;
        outline: none;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
